#nav-home {
  display: fixed !important;
}
.navdua {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
  padding-left: 50px !important;
  padding-right: 50px !important;
  background-color: #18414c !important;
}

.buton {
  margin-top: 0px !important;
  border-radius: 5px;
  font-size: 18px !important;
  width: 300px;
  color: #ffffff !important;
  background-color: #eba1a1 !important;
  border-radius: 5px !important;
  border-style: none;
  width: 300px;
  padding: 12px 0;
  overflow: hidden;
}
.pclass {
  color: #252525;
  margin-left: 20px;
  font-weight: 500;
}
.display-inline {
  display: block;
}
.display-none {
  display: none;
}
