/* NAVBAR */
.navku {
  padding: 20px 15px;
  line-height: 18px;
  display: inline-block;

  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.menu {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #555 !important;
}
#badge-new {
  line-height: 5px;
  border-radius: 8px;
  background: #fe5d51;
  color: #fff;
  padding: 5px;
  height: 13px;
  font-size: 10px;
  margin-left: 4px;
  margin-right: 5px;
  display: -webkit-inline-box;
  display: inline-flex;
}
.navini {
  margin-top: -39px !important;
  background-color: white;
}
