.buton {
  margin-top: 0px !important;
  border-radius: 5px;
  font-size: 18px !important;
  width: 300px;
  color: #ffffff !important;
  background-color: #eba1a1 !important;
  border-radius: 5px !important;
  border-style: none;
  padding: 12px 0;
  overflow: hidden;
}

.buton-loading {
  margin-top: 0px !important;
  border-radius: 5px;
  font-size: 18px !important;
  width: 300px;
  color: #ffffff !important;
  background-color: grey !important;
  border-radius: 5px !important;
  border-style: none;
  padding: 12px 0;
  overflow: hidden;
}
