<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign Up</title>

	<script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-app.js" defer></script>
	<script src="https://www.gstatic.com/firebasejs/8.3.0/firebase-auth.js" defer></script>

</head>

<body>
	<h1>Sign up</h1>
	<form id="signupForm">
		<input type="email" name="email" id="email" placeholder="email">
		<input type="password" name="password" id="password" placeholder="password">
		<button type="submit">Sign up</button>
	</form>

	
</body>

</html>